/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

@import "reset.css";
@import "variables.css";

/* screen */
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

body {
  color: #2e363e;
  font-family: "Poppins", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
