.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}
.screen-header__icons__new-message span {
  background-color: white;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  justify-content: center;
  margin: 0px;
  border-radius: 70%;
  display: block;
  position: absolute;
  left: 15px;
  top: 3px;
}

.screen-header__icons__setting-dot span {
  margin: 0px;
  position: absolute;
  left: 20px;
  top: -5px;
}

@keyframes rotateCog {
  form {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
}
